 {% extends "fire_dpt-layout.html" %}
              {% block content %}
              <div class="container">
                  <form action="{{ base_url() }}/addIncident" method="POST">
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="inputDate">Date</label>
      <input name ='inputDate' class="form-control" id="inputDate" required>
    </div>
    <div class="form-group col-md-2">
      <label for="inputType">Incident Type</label>
      <input name="inputType" class="form-control" id="inputType" required>
    </div>
    <div class="form-group col-md-2">
      <label for="inputLocation">Location</label>
      <input name="inputLocation" class="form-control" id="inputLocation" required>
    </div>
    <div class="form-group col-md-2">
      <label for="inputStation">Station #</label>
      
      <select name = 'inputStation' class="form-control" id="inputStation" required>
          {% for station in stations %}
        <option value="{{station.stationId}}">{{station.stationname}}</option>
        {% endfor %}
      </select>
    </div>
   
  
      
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
  
</form>
              </div>
            



		        {% endblock %}

            {% block script %}{% endblock %}