  {% extends "fire_dpt-layout.html" %}

    {% block content %}
<div class="container">
    <form action="{{ base_url() }}/editShift" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName">Shift Name</label>
      <input name = 'name' class="form-control" id="inputName" value = "{{shift.shiftname}}" required>
    </div>
   

     </div>
      
  
  
  <button type="submit" class="btn btn-primary">Edit Shift</button>
  
</form>
<form action="{{ base_url() }}/deleteShift" method="POST">
  <button type="submit" class="btn btn-danger">Delete Shift</button>
</form>
</div>
      {% endblock %} 


         {% block script %}
  <script src="{{ base_url() }}/../fire-dpt.js"></script>
  {% endblock %}