<html>

<head>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="../thelist.css">

	

</head>
<script> 
	var baseurl = "{{base_url()}}"
	</script>
<body>

<div class="container">

<div class="page-header">
	<h1>The List</h1>
</div>

<table class="table">

	<tr>
		<th class="col-sm-1">Priority</th>
		<th class="col-sm-3">Name</th>
		<th class="col-sm-8">Justified!</th>
	</tr>


	{% for enemy in enemies %}
	<tr>
		<td>
			<button id={{enemy.id}} class="btn btn-xs del" id="<?=$e->id?>">X</button>
			{{enemy.priority}}
		</td>
		<td class="username">{{enemy.username}}</td>
		<td class="edit">{{enemy.justification}}</td>

	</tr>


	{% endfor %}

	

	<form action="{{ base_url() }}/add" method="POST">
	<tr>
		<td>
			<input class="form-control" type="text" name="priority" 
			value="{{priority}}" placeholder="#">
		</td>
		<td>
			<input class="form-control" type="text" name="username" 
			value="{{username}}" placeholder="name">
		</td>
		<td>
			<input class="form-control" type="text" name="justification"
			value="{{justification}}" placeholder="why?">
		</td>
	</tr>
	

	<tr>
		<td colspan="3">
			<button class="btn btn-primary">You're on the List</button>
		</td>
	</tr>
	<tr>
		<div id="loginAlert" class="alert-danger p-2 mb-2">{{success}}</div>
	</tr>

	</form>

</table>

</div>

<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="../thelist.js"></script>

</body>
</html>
